<!-- home section -->
{% load static %}
<style>
    #home{
    width: 100%;
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('static/images/Hospitalnew.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    font-family: 'Roboto', sans-serif;
}
</style>

   <section id="home">
    <div class="content">
      <h3>Better Health <br> Better Life</h3>
      <p>Experience compassionate care from dedicated professionals. Advanced medical
         <br>solutions tailored to your needs ensure that you receive the best possible care.
      </p>
      <a href="{% url 'appointment'  %}">
        <button id="btn">Appointment</button>
      </a>
    </div>
   </section>






<!--About us-->

<div class="about" id="about">
  <div class="container">
  <div class="heading">About  <span>Us</span></div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="static/images/doctor.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <h3>What Makes Our Hospital Special?</h3>
        <p>At our specialty hospital, we pride ourselves on providing cutting-edge medical care tailored to your unique needs. <br>
          Our team of world-renowned specialists is dedicated to delivering personalized treatment plans using the latest technology and innovative techniques.<br>
          From advanced diagnostics to comprehensive rehabilitation, we offer a seamless continuum of care in a welcoming and compassionate environment.<br>
          Our commitment to excellence ensures that you receive the highest standard of care every step of the way, making your health and recovery our top priority.
         </p>
         <a id="about-btn" href="https://www.bigscal.com/blogs/healthcare-industry/why-are-hospitals-important/">Learn More.</a>
      </div>
    </div>
  </div>
</div>


<!--Department-->


<section id="department" class="department">
  <div class="container">
  <div class="heading4">Our Departments</div>
</div>
  <div class="container" id="container3">
    <div class="row">
        {% for dept in department|slice:"0:8" %}
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="{{dept.image.url}}" alt="">
          <div class="card-body">
            <h3>{{dept.name}}</h3>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <a class="see-all-link"  href="{% url 'department' %}">See All Departments</a>
  </div>
</section>

<!--Our Doctors-->

<section id="doctor" class="doctor">
  <div class="container">
  <div class="heading4">Our Doctors</div>
</div>
  <div class="container" id="container_doc">
    <div class="row">
        {% for doctor in doctor|slice:"0:8" %}
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <a href="{% url 'detail_doctor' doctor.id %}">
            <img src="{{doctor.image.url}}" alt="">
          </a>
          <div class="card-body">
            <h3>{{doctor.name}}</h3>
            <h6>{{doctor.specialization}}</h6>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <a class="see-all-link"  href="{% url 'doctor' %}">See All Doctors</a>
  </div>
</section>





  


